---
import Layout from '../../layouts/Layout.astro';
import '../header/header.css';
import BlogHeader from '../blog/BlogHeader.astro';
import contactme from '../../utils/contact';
import { fade } from 'astro:transitions';
// import { fade } from 'astro:transitions';

const correo = 'alvaroaburto71@gmail.com';
const subject = 'Consulta profesional';
const info =
  'Estimado Alvaro, me gustaría discutir una oportunidad de colaboración. ¿Podríamos hablar al respecto?';
---

<Layout title="">
  <section
    class="dark:bg-[#FCFCFC] w-full px-6 md:px-6 md:pb-2 max-w-[700px] mx-auto"
  >
    <section transition:animate="slide" class="max-w-[700px] mt-[54px]">
      <div transition:animate="slide">
        <h1
          transition:animate="slide"
          class="font text-3xl tracking-tight antialiased text-[#EDEDEC] font-bold dark:text-[#1B1B18]"
        >
          Alvaro Aburto Ocampo
        </h1>
        <p class="font-semibold text-[#A1A09A] dark:text-[#706f6c]">
          Desarrollador web & movil full-stack
        </p>
      </div>
      <div class="mt-[60px] md:w-[75%]">
        <p transition:animate={fade({ duration: '2s' })}  class="font-normal dark:text-[#1B1B18]">
          Hi, I'm Diego Cabrera, a computer science student who enjoys coding,
          writing, working- out, and teaching. In addition to coding, I also
          make YouTube videos, where I teach mathematics, creative videos on
          code, and personal development.
        </p>
      </div>
      <div
        transition:animate="slide"
        class="mt-10 mb-24 gap-2 flex flex-col md:flex-row md:gap-5"
      >
        {
          contactme.map((contact) => (
            <section class="flex gap-3">
              <ul class="flex items-center cursor-pointer text-[#a1a09a] text-base font-semibold hover:text-white transition-colors hover:underline hover:duration-200">
                <div class="pr-2">
                  <img class="" src="/images/svgIcons/arrow.svg" alt="" />
                </div>
                <li>
                  <a href={`mailto:${correo}?subject=${subject}&body=${info}`}>
                    {contact.email}
                  </a>
                </li>
                <li>
                  <a href="/Links/">{contact.contact}</a>
                </li>
                <li>{contact.resume} </li>
              </ul>
            </section>
          ))
        }
      </div>
      <h4 class="font-normal text-lg text-[#EDEDEC] dark:text-[#1B1B18]">
        Latest Blogs
      </h4>
      <BlogHeader />
    </section>
  </section>
</Layout>
