---
import Layout from '../../layouts/Layout.astro';
import redes from '../../utils/redes';
---

<Layout title="socials">
  <section>
    {
      redes.map((social) => (
        <section class="flex items-center justify-between bg-[#232323] rounded-[8px] mb-3">
          <a href={social.link} class="flex items-center p-4 gap-5">
            <img
              class="w-6 h-6 filter invert dark:invert-0"
              src={social.img}
              alt=""
            />
            <h3 class="text-base font-medium">{social.titulo}</h3>
          </a>
          <a href={social.link} class="-translate-x-6">
            <img src={social.icon} alt="" />
          </a>
        </section>
      ))
    }
  </section>
</Layout>
