---
import Layout from '../../layouts/Layout.astro';
import experiences from '../../utils/experience';
---

<Layout title="experince">
  <section class="mt-8">
    {
      experiences.map((experience, index) => (
        <section class="mt-8">
          <div class="flex gap-3">
            <div>
              <img class="w-16 h-16 object-cover rounded-md" src={experience.image} alt="" />
            </div>
            <div class="grid grid-cols-2 sm:flex sm:gap-48">
              <div class="flex flex-col" >
                <div class="text-[#ededed] text-lg font-medium dark:text-[#1b1b18]">
                  {experience.place}
                </div>
                <div class="text-[#a1a09a] text-lg font-medium">
                  {experience.company}
                </div>
              </div>
              <div class="text-[#a1a09a] text-lg font-medium tracking-wide">
                {experience.date}
              </div>
            </div>
          </div>
          <div class="mt-5">
            <ul class="list-disc text-base font-normal text-[#a1a09a] mt-4 ml-10">
              <li>{experience.description}</li>
            </ul>
          </div>
        </section>
      ))
    }
  </section>
</Layout>
